<footer class="foot">
  <nav class="item-footer">
  <a class="link" href="http://adalab.es/" target="_blank" title="articles">ARTICLES<a>                       
  <a class="link" href="http://adalab.es/" target="_blank" title="books">BOOKS</a>
  <a class="link" href="http://adalab.es/" target="_blank" title="events">EVENTS</a>
  <a class="link"href="http://adalab.es/">REASONS</a>
  <a class="link" href="http://adalab.es/" target="_blank" title="tips">TIPS</a>
  </nav>
  <nav class="item-footer">
  <a class="link"href="http://twitter.es/" target="_blank"title="twitter">TWITTER</a>
  <a class="link"href="http://instagram.es/" target="_blank"title="instagram">INSTAGRAM</a>
  <a class="link"href="http://adalab.es/" target="_blank" title="mastodontsocial">MASTODON.SOCIAL</a>
  </nav>
  <nav class="item-footer">
     <p class="p-14">&copy; 2021</p>
     <p class="p-14">we love components</p>
  </nav>
</nav>
</footer>
