<main class="general-main">
  <section class="first-section-main">
    <small class="small-main">Insomnia Tips</small>
    <h2 class="h2-main">Looking Through A Window</h2>
    <p class="p-main">
      Donec accumsan, nulla ut volutpatporttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button class="insomnia-button">GO</button>
  </section>
  <h2 class="h2b-main" id="h2b-main">3 Reasons To Purchase</h2>
  <section class="second-section-main">
    <div class="a-grid-section">
      <strong class="minititle-grid">Ut sed metus</strong>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div class="b-grid-section">
      <strong class="minititle-grid">Curabitur ac erat </strong>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="c-grid-section">
      <strong class="minititle-grid"> Morbi dictum </strong>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </div>
    <button class="grid-buttom">More reasons</button>
  </section>
  <a class="footer-buttom" href="#start">
    <img class="draw" src="../images/ico-arrow" />
  </a>
</main>
