<main class="general-main">
  <section class="first-section-main">
    <small class="small-main">Insomnia Tips</small>
    <h2 class="h2-main">Looking Through A Window</h2>
    <p class="p-main">
      Donec accumsan, nulla ut volutpatporttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button class="insomnia-button">GO</button>
  </section>
  <h2 class="h2b-main">3 Reasons To Purchase</h2>
  <section class="second-section-main">
    <p class="a-grid-section">
      Ut sed metus Lorem ipsum dolor sit amet, consecteur.
    </p>
    <p class="b-grid-section">
      Curabitur ac erat Mauris mattis urna quis lorem molestie.
    </p>
    <p class="c-grid-section">
      Morbi dictum Aliquam in dolor et dolor tincidunt
    </p>
    <button class="grid-buttom">More reasons</button>
  </section>
</main>
