$orange: #f26002;
$white: #ffffff;
$l-blue: #8ccbea;
$m-blue: #0271bc;
$d-blue: #304268;
$ice-blue: #eff9ff;
$gray: #4a4a4a;
$title-font: "RobotoSlab" bold;
$general-font: "Roboto" medium;
$small-font: 14px;
$medium-font: 18px;
$big-font: 24px;
$hero-font: 42px;
