.content-header {
  width: 100vw;
  height: 100%;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: 50% 5%;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.h1-header {
  font-size: 42px;
  font-family: "RobotoSlab" bold;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  padding-top: 284px;
  transition: color 1s linear 0.8s;
}
.h1-header:hover {
  color: #f26002;
}

.h2-header {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  font-family: "Roboto";
  font-weight: 400;
}
.header-buttom {
  margin-bottom: 53px;
  margin-top: 45px;
  background-image: url(../images/ico-scroll-down.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  align-items: center;
  margin-left: 45%;
  background-color: white;
}
.header-buttom:hover {
  background-color: #f26002;
}
.menu {
  box-sizing: content-box;
  background-color: #0271bc;
  background-repeat: no-repeat;
  background-image: url(../images/ico-menu.svg);
  background-position: 50% 50%;
  width: 14px;
  height: 16px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
}
.draw {
  visibility: hidden;
}

@media (min-width: 768px) {
  .h1-header {
    font-size: 80px;
  }
  .h2-header {
    font-size: 24px;
    font-weight: 100;
  }
}
