.first-section-main {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  font-family: "Roboto";
}
.small-main {
  color: #8ccbea;
}
.h2-main {
  margin-bottom: 15px;
  font-family: "RobotoSlab-Bold";
}

.p-main {
  color: #4a4a4a;
}
.insomnia-button {
  margin-top: 30px;
  border-style: solid;
  border-color: #f26002;
  border-width: 2px;
  border-radius: 22.5px;
  width: 76px;
  height: 45px;
  margin-bottom: 45px;
  background-color: white;
  font-family: "roboto";
  color: #f26002;
}
.insomnia-button:hover {
  background-color: #8ccbea;
}

.h2b-main {
  text-align: center;
  background-color: #eff9ff;
  padding-top: 30px;
  font-family: "RobotoSlab-Bold";
}
.second-section-main {
  display: grid;
  grid-template-columns: 90px 140px 90px;
  grid-template-rows: 93px 93px 93px;
  column-gap: 10px;
  row-gap: 10px;
  background-color: #eff9ff;
  padding-top: 30px;
  padding-bottom: 60px;
  justify-items: center;
  align-items: center;
  font-family: "Roboto-regular";
}

.a-grid-section {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
}
.b-grid-section {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
}
.c-grid-section {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
}

.grid-buttom {
  width: 184px;
  height: 40px;
  background-color: #f26002;
  border-radius: 100px;
  color: white;
  grid-column: 2/3;
  grid-row: 5/4;
}
.grid-buttom:hover {
  width: 164px;
  height: 20px;
}
.footer-buttom {
  background-image: url(../images/ico-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-sizing: border-box;
  display: flex;
  background-color: white;
  border-radius: 44px;
  height: 44px;
  width: 44px;
  position: relative;
  left: 45vw;
  top: 22px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .small-main {
    font-size: 14px;
  }
  .h2-main {
    font-size: 26px;
    padding-bottom: 30px;
  }
  .first-section-main {
    padding-left: 39px;
    padding-right: 39px;
  }
  .second-section-main {
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    column-gap: 15px;
  }
  .a-grid-section {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .b-grid-section {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .c-grid-section {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .grid-buttom {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-content: center;
  }
  .footer-buttom {
    left: 50vw;
  }
}
